@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&display=swap');

nav, h2 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Afacad', sans-serif;
    color: #242323;
}
nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content:space-between;
 }
 nav h1{
   font-size: 40px ;
   color:#e86d0f;
 }

 nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    
 }
 nav ul li a {
    text-decoration: none;
     color:#e86d0f;
     font-size: 25px; 
 }
 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
 }
